
<div @*id="flights"*@>
    <div>
        <form method="post" asp-action="_GetFlightsByCityDA">
            <div style="display:flex; justify-content:space-around; padding: 20px;">
                <select name="city" id="city" style="width:200px;">
                    @foreach (var city in Model)
                    {
                        <option>@city</option>
                    }
                </select>
                <a id="changeCities"><img id="changeCities" src="~/img/arrows.svg" style="width:30px; height:30px;" onclick="change()" /></a>
                <select name="city1" id="city1" style="width:200px;">
                    @foreach (var city in Model)
                    {
                        <option>@city</option>
                    }
                </select>
                <button style="display: none;" class="btn btn-primary" type="submit" id="search">search</button>
            </div>
        </form>
    </div>
    

</div>

