
<div @*id="flights"*@>
    <div>
        <form method="post" asp-action="_GetFlightsByCityDA">
            <div style="display:flex">
                <select name="city" id="city">
                    @foreach (var city in Model)
                    {
                        <option>@city</option>
                    }
                </select>
                <div><img src="~/img/arrows.svg" style="width:30px; height:30px;" /></div>
                <select name="city1" id="city1">
                    @foreach (var city in Model)
                    {
                        <option>@city</option>
                    }
                </select>
                <button class="btn btn-primary" type="submit" id="search">search</button>
            </div>
        </form>
    </div>
    

</div>

