@model AirportTickets.Models.ModelsVM.FlightsVM

@{Layout = "_LayoutFlights";}

@{
    if (User.IsInRole("Admin"))
    {

    }
}

<form method="post" asp-action="GetFlightsByCity">
    <select name="cityDep" id="cityDep">
        @foreach (var cityDep in Model.Cities)
        {
            <option>@cityDep</option>
        }
    </select>
    <button class="btn btn-primary" type="submit">search</button>
</form>

<partial name="_TableOfFilteredFlights" model="Model.FlightsByFilter" />


<script src="~/lib/jquery/dist/jquery.js"></script>


@*//GetFlightByCityOfDeparture*@
<script>
    $(document).ready(function () {
        $('select').on("change", function () {
            var cityDep = $("#cityDep").val();
            $.ajax({
                url: '/Flights/GetFlightsByCity/',
                type: "POST",
                //dataType: "json",
                data: { cityDep: cityDep },
                success: function (data) {
                    //Fill div with results
                    $("#flights").html(data);
                },
                error: function () {
                    alert('Нет связи с базой данных');
                }
            })
        });
    });
</script>

