@model AirportTickets.Models.ModelsVM.FlightsVM

@{Layout = "_LayoutFlights";}

@{
    if (User.IsInRole("Admin"))
    {

    }
}

<form method="post" asp-action="GetFlightsByCity">
    <select name="cityDep" id="cityDep">
        @foreach (var cityDep in Model.Cities)
        {
            <option>@cityDep</option>
        }
    </select>
    <button class="btn btn-primary" type="submit">search</button>
</form>

<partial name="_TableOfFilteredFlights" model="Model.FlightsByFilter" />







