@model AirportTickets.Models.ModelsVM.FlightsVM

@{ Layout = "_LayoutFlights"; }
@{
    if (User.IsInRole("Admin"))
    {

    }
}



<div class="middle-content">
    <div class="container">
        <form method="post" asp-action="GetFlightsByDate">
            <input id="dateOfDep" name="date" type="date" />
            <button style="display: none;" class="btn btn-primary" type="submit">search</button>
        </form>
    </div>
</div> <!-- /.middle-content -->

<partial name="_TableOfFilteredFlights" model="Model.FlightsByFilter" />






