@model AirportTickets.Models.ModelsVM.FlightsVM

@{Layout = "_LayoutFlights";}
@{
    if (User.IsInRole("Admin"))
    {

    }
}


<form method="post" asp-action="GetFlightByNumber">
    <div id="getFlightByNumber">
        <input id="number" name="number" type="text" />
        <input id="date" name="date" type="date" />
        <button style="display: none;" class="btn btn-primary" type="submit">search</button>
    </div>
</form>

<partial name="_TableOfFilteredFlights" model="Model.FlightsByFilter" />
