@model AitportTickets.Models.ModelsVM.FlightsVM
@{Layout = "_Layout";}
@{
    if (User.IsInRole("Admin"))
    {

    }
}

<div id="_GetFlightsByCityDA">
    <partial name="_GetFlightsByCityDA" model="Model.Cities" />
    <partial name="_TableOfFilteredFlights" model="Model.FlightsByFilter" />
</div> <!-- /.middle-content -->

<script>
    {/*$('select').on('change', function () {*/ }
    {/*  var value = (this.value);*/ }
    {/*  });*/ }
    $(document).ready(function () {
        $('select').on("change", function () {
            var city = $("#city").val();
            var city1 = $("#city1").val();
            if (city === city1) {
                alert("You can not go from " + city + " to " + city);
                $("#search").prop('disabled', true);
            }
            else {
                //если пункты из выпадающих списков выбраны "правильные"
                $("#search").prop('disabled', false);
                //отправляем запрос в контролер для обновления таблицы
                $.ajax({
                    url: '/Flights/_GetFlightsByCityDA/',
                    type: "POST",
                    //dataType: "json",
                    data: {
                        city: city,
                        city1: city1
                    },
                    success: function (data) {
                        //Fill div with results
                        $("#flights").html(data);
                    },
                    error: function () {
                        alert('Нет связи с базой данных');
                    }
                })
            }
        });
    });
</script>