@model AirportTickets.Models.ModelsVM.FlightsVM
@{Layout = "_LayoutFlights";}
@{
    if (User.IsInRole("Admin"))
    {

    }
}

<div id="_GetFlightsByCityDA">
    <partial name="_GetFlightsByCityDA" model="Model.Cities" />
    <partial name="_TableOfFilteredFlights" model="Model.FlightsByFilter" />
</div> <!-- /.middle-content -->

@*<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>*@
