@model Flight

@{ Layout = "_LayoutFlights"; }
@{
    if (User.IsInRole("Admin"))
    {

    }
}


    @{
        if (User.IsInRole("Admin"))
        {
            <div class="middle-content">
                <div class="container">
                    <h1 class="text-capitalize text-danger">Edit flight</h1>

                    <h2 class="text-dark"></h2>


                    <form method="post" asp-action="Update">
                        <input asp-for="Id" hidden />
                        <div class="row">
                            <div class="col">
                                <label name="FlightNumber">Flight Number</label>
                            </div>
                            <div class="col">
                                <input asp-for="FlightNumber" name="FlightNumber" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="DateTimeDeparture">Date and time of Departure</label>
                            </div>
                            <div class="col">
                                <input type="datetime" asp-for="DateTimeDeparture" name="DateTimeDeparture" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="DateTimeArrival">Date and time of Arrival</label>
                            </div>
                            <div class="col">
                                <input asp-for="DateTimeArrival" name="DateTimeArrival" type="datetime" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="CityDeparture">City of Departure</label>
                            </div>
                            <div class="col">
                                <input asp-for="CityDeparture" name="CityDeparture" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="CityArrival">City of Arrival</label>
                            </div>
                            <div class="col">
                                <input asp-for="CityArrival" name="CityArrival" type="text" />
                            </div>
                        </div>
                        <button class="btn btn-warning" type="submit">Update</button>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Flights" asp-action="Index">Back</a>
                    </form>
                </div>
            </div> <!-- /.middle-content -->
        }
        else
        {
            <div class="middle-content">
                <div class="container">
                    <div class="" style="font-size: 24px; color:red;">
                        Login as administrator
                    </div>
                    <a class="btn btn-warning" asp-controller="Flights" asp-action="Index">Flights</a>
                </div>
            </div>
        }
    }

