@model Passenger

@{ Layout = "_LayoutPassengers"; }
@{
    if (User.IsInRole("Admin"))
    {

    }
}



    @{
        if (User.IsInRole("User"))
        {
            <div>
                <div class="container">
                    

                    <h1 class="text-capitalize text-danger">Register on flight</h1>

                    <h2 class="text-dark"></h2>


                    <form method="post" asp-action="Create">
                        <input hidden asp-for="@Model.Id" value="" />
                        <input hidden asp-for="@Model.FlightId" />
                        <div class="row">
                            <div class="col">
                                <label name="FirstName">First Name</label>
                            </div>
                            <div class="col">
                                <input asp-for="FirstName" name="FirstName" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="LastName">Last Name</label>
                            </div>
                            <div class="col">
                                <input asp-for="LastName" name="LastName" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="DateOfBirth">Date Of Birth</label>
                            </div>
                            <div class="col">
                                <input type="date" asp-for="DateOfBirth" name="DateOfBirth" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="Passport">Passport</label>
                            </div>
                            <div class="col">
                                <input asp-for="Passport" name="Passport" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label name="SexId">Sex</label>
                            </div>
                            <div class="col">
                                <select name="SexId">
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Create</button>
                    </form>
                </div>
            </div> <!-- /.middle-content -->


        }
        else
        {
            <div>
                <div class="container">

                    <div class="" style="font-size: 24px; color:red; margin: 10px;">
                        Login or register before buying a ticket
                    </div>
                    <div style="margin: 10px;">
                        <a class="btn btn-warning" asp-controller="Flights" asp-action="Index">Flights</a>
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        <a class="btn btn-info" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </div>

                </div>
            </div>

        }
    }

